h1{
    text-align:center;
}

h3{
    margin-left:5%;
    margin-right:5%;
}

p {
    margin-left:8%;
    margin-right:8%;
    
}

ul{
   padding-left:10%;
}

img{
    margin-top:10px;
    margin-left:30%;
    margin-right:30%;
    margin-bottom:10px;
    width:40%;
    
}



