h1{
    text-align:center;
}

h3{
    margin-left:5%;
    margin-right:5%;
}

p {
    margin-left:5%;
    margin-right:5%;
}

.logo{
    margin-left:10%;
    margin-right:10%;
    width:80%;
    display:flex;
   justify-content:center;

}

img{
    width:100%;
}

figcaption{
    text-align:center;
    background-color:rgba(120,120,120,0.5);
    width:100%;
}


pre{
    background-color:black;
    color:green;
    margin-left:10px;
    margin-right:10px;
    
    padding:5%;
    font-weight:bold;
}

span{
    color:indianred;
}

pre:hover{
   color:dodgerblue;
}

pre:hover span{
    color:mediumpurple;
}

